</br>
</br>
</br>
</br>

<form action="/users/register" class="new_user" id="new_user" method="post">
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      </br>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div style="margin:0;padding:0;display:inline">
		<input name="authenticity_token" type="hidden"
		value="rB82sI7Qw5J9J1UMILG/VQL411vH5putR+JwlxLScMQ=" />
	</div>
	<div class="field">
		<label for="user_name">Name</label><br />
		<input id="user_name" name="user[name]" size="30" type="text" />
	</div>
	<div class="field">
		<label for="user_email">Email</label><br />
		<input id="user_email" name="user[email]" size="30" type="text" />
	</div>
	<div class="field">
		<label for="user_password">Password</label><br />
		<input id="user_password" name="user[password]" size="30" type="password" />
	</div>
		<div class="actions">
		<input id="user_submit" name="commit" type="submit" value="Sign up" />
	</div>
</form>