<% provide(:title, 'About') %>
<h1>About</h1>
	<p>
		My name is Quang. I'm a student from Hanoi University of Science and Technology's HEDSPI project.
	</p>
	<p>
		This is a sample Ruby on Rails application that I did as homework for my Ruby classes.
	</p>