<h1>Help</h1>
<p>
	Database: PostgreSQL
</p>
<p>
	Default database username is "quang", and default password is "123456"
</p>
<p class = "sub">
<%= link_to 'Contact me', :contact %> for other technical problem you may have.
</p>