</br>
</br>
</br>
</br>
</br>
</br>
<div class ="center jumbotron">
	<h1>Homepage</h1>
	<p>
		This is the homepage for my Ruby on Rails sample application.
	</p>
	<%= link_to "Sign up now!", :register, :class => "signup_button round" %>
</div>