<h1>Homepage</h1>
<p>
	<br>
</p>
<p>
	This is the homepage for my Ruby on Rails sample application.
</p>
<p>
	<%= link_to 'Contact', :contact %>
</p>
<p>
	<%= link_to 'Help', :help %>
</p>
<p>
	<%= link_to 'About', :about %>
</p>